[defaults]
# Откуда брать инвентори по-умолчанию
inventory = ./environments/prod/inventory
# Под каким пользователем подключаться к хостам
remote_user = ubuntu
# Где брать приватный ключ для подключения к хостам
private_key_file = ~/.ssh/id_rsa
# Выключение проверки SSH Host-keys
host_key_checking = False
# Выключение использования *.retry-файлов
retry_files_enabled = False
# Местонахождение ролей
roles_path = ./roles
